*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #19dbd6;
}

a{
    text-decoration: none;
}

.button{
    background-color: #364e4d;
    border: none;
    padding: .5rem;
    border-radius: 3px;
    font-size: .9rem;

    &:hover{
        cursor: pointer;
    }
}

.main-form{
    background-color: #282828;
    border-radius: 5px;
    padding: 1.8rem 4rem;

    :last-child{
        margin-bottom: 0;
    }

    .input-div{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        label{
            font-size: .9rem;
            margin-bottom: .1rem;
        }

        input{
            background-color: #364e4d;
            border: none;
            border-radius: 3px;
            padding: .5rem;
            font-size: .9rem;
            width: 15rem;
        }

        select{
            background-color: #364e4d;
            border: none;
            border-radius: 3px;
            padding: .5rem;
            font-size: .9rem;
        }
    }

    .buttons-div{
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;
    }

    .form-spacer{
        height: .5rem;
    }

    .closer-div{
        margin-top: -.6rem;
    }

    #err{
        color: red;
        font-size: 1rem;
    }
}

.large-form{
    background-color: #282828;
    border-radius: 5px;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;

    .group-inputs-div{
        display: flex;
        gap: 1rem;
    }

    .input-div{
        display: flex;
        flex-direction: column;
        margin-bottom: .2rem;

        label{
            font-size: .9rem;
            margin-bottom: .1rem;
        }

        input{
            background-color: #364e4d;
            border: none;
            border-radius: 3px;
            padding: .5rem;
            font-size: .9rem;
        }

        #email, #address{
            width:25rem;
        }
    }

    #large-form-delete{
        width: fit-content;
        margin-left: auto;
        padding: .3rem;

        svg{
            fill: darkred;
            width: 1.5rem;
        }
    }

    button{
        margin-top: 1rem;
    }
}

table, td, th{
    border: 1px solid;
    padding: .2rem;
}

table{
    border-collapse: collapse;

    th{
        text-align: left;
    }
}

body{
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #121212;
}

.content{
    /* Push footer to bottom of screen.*/
    flex: 1 0 auto;
}

.content{
    display: grid;
    grid-template-columns: 13rem auto;
}

nav{
    background-color: #282828;
    h1{
    text-align: center;
        font-size: 1.5rem;
        margin: 2rem 0 1.5rem 0;
    }
    ul{
        /*width: fit-content;
        margin: 0 auto;*/
        list-style: none;
        li{
            margin-bottom: .1rem;
            svg{
                fill: #19dbd6;
                width: 2rem;
                margin-right: .8rem;
            }
            a{
                font-size: 1rem;
                display: flex;
                align-items: center;
                padding: .6rem .6rem .6rem 1.2rem;
                border-radius: 3px;
            }
        }
        li:hover, li.selected{
            background-color: #364e4d;
            cursor: pointer;
        }
    }
}

main{
    margin: 3rem auto 0 auto;
}



/*MOVIE LIST AND CUSTOMERS PAGE*/
.movie-list-page{
    h2{
        margin-bottom: 1rem;
        text-align: center;
    }

    table{
        width: 40rem;
        margin-bottom: 2rem;
    }
}



/*ADD MOVIE PAGE*/
.add-movie-page, .add-customer-page{
    h2 {
        text-align: center;
        margin-bottom: .5rem;
    }
}




/*COUNTDOWN PAGE*/
.countdown-page{
    h2{
        text-align: center;
    }

    .countdown{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 50rem;
        margin-top: 2rem;
        gap: 1rem;
        cursor: default;

        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #282828;
            border-radius: 5px;
            width: 15%;
            aspect-ratio: 1;

            :first-child{
                font-weight: bold;
                font-size: 1.5rem;
                margin-bottom: .1rem;
            }

            :last-child{
                font-size: 1.2rem;
            }
        }
    }
}



/*LOOPS PAGE*/
.loops-page{
    width: 80%;
    text-align: center;

    h2{
        margin-bottom: 2rem;
    }
}



/*CUSTOMERS PAGE*/
.customers-page{
    h2{
        margin-bottom: 1rem;
        text-align: center;
    }

    table{
        margin-bottom: 2rem;
    }
}








