*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base styles */
body{
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    line-height: 1.2rem;
    min-height: 100vh;
}

header{
    background-color: #002266;
    width: 100%;
    color: whitesmoke;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#three-column{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#three-column > *{
    padding: 10px;
    flex-grow: 1;
}


nav > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li{
        padding: 5px;
        background-color: #eeeeee;
        border-radius: 4px;
        text-align: center;

        &:hover{
            background-color: #666666;
        }

        &.selected{
            border: 2px solid black;
        }
    }
}

#three-column > main{
    flex-grow: 4;
}

footer{
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #eeeeee;
    position: relative;
    bottom: 0;
}

a{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: black;
}