/* Website Style */

header{
    width: 100%;
    float: left;
    font-family: Georgia, serif;
    text-align: center;
}

nav{
    width: 20%;
    float: left;
}

main{
    width: 60%;
    float: left;
    font-size: large;
}

main img{
    width: 250px;
    display: block;
    margin: 0 auto;
}

main p{
    margin-top: 30px;
    text-indent: 25px;
    text-align: center;
}

footer{
    width: 100%;
    float: left;
    font-size: small;
    font-weight: bold;
    text-align: center;
}

/* Website Navigation Style */
ul{
    list-style: none;
    margin: 10px;
    padding: 0;
    width: 200px;

}

ul li{
    background-color: #f1f1f1;
    margin-bottom: 5px;
}

ul a{
    display: block;
    color: black;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Navigation Hover Style */
li a:hover{
    background-color: #555555;
    color: #f1f1f1;
}